@import '../../utils/all.scss';
.collapse {
  border-radius:10px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  width:75%;
  @media screen and (max-width: 768px){
    width:100%;
  }
  .collapse-content{
    display:flex;
    justify-content: center;
  }
  .description {
    background-color:$primary-color;
    color: $secondary-dark;
    font-size:$font-size-base;
    padding:5px 5px 15px 20px;  
    @media screen and (max-width: 375px){
      font-size:$font-size-medium;   
    }
  }
  .collapse-content {
    @include flex-space-between;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 20px;
    background-color:$secondary-color;
    height: 25px;
    @media screen and (max-width: 375px){
      padding:5px 5px 5px 20px;
    }
   .title {
      font-size:$font-size-base;
      font-weight: 600;
      margin: 0;
      color:$primary-color;
      @media screen and (max-width: 375px){
        font-size:$font-size-medium;
      }
    }
    .svg-inline--fa {
      margin-left: 10px;
      cursor: pointer;
      font-size: $font-size-large;
      color:$primary-color;
      transition: transform 0.3s ease;
      transform-origin: center;
      @media screen and (max-width: 375px){
        font-size:$font-size-base
      }
    }
  } 
  &.open .svg-inline--fa {
      transform: rotate(180deg);
       // La flèche sera tournée à 180 degrés quand le collapse est ouvert
    }
}
