$font-size-base: 19px;
.collapse {
  border-radius:10px;
  margin: 0px 150px 20px 200px;
  overflow: hidden;
  transition: all 0.3s ease;
  width:70%;
  .description {
      background-color:rgb(166 161 161 / 13%);
      color:black;
      font-size:$font-size-base;
      padding:5px 5px 5px 20px;  
    }
  .collapse-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 10px 20px;
    background-color:rgb(255 82 83 / 79%);
    height: 25px;
    
   .title {
      font-size:$font-size-base;
      font-weight: 600;
      margin: 0;
      color:white;
    }
    .svg-inline--fa {
      margin-left: 10px;
      cursor: pointer;
      font-size: 25px;
      color:white;
      transition: transform 0.1s ease;
      transform-origin: center;
    }
  } 
  &.open .svg-inline--fa {
      transform: rotate(180deg);
       // La flèche sera tournée à 180 degrés quand le collapse est ouvert
    }
}