@import '../../utils/all.scss';
.collapse {
  border-radius:10px;
  border-bottom-left-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  width:75%;
  @media screen and (max-width: 768px){
    width:100%;
  }
  .description {
    background-color:$primary-color;
    color: $secondary-dark;
    font-size:$font-size-base;
    
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    @media screen and (max-width: 375px){
      font-size:$font-size-medium;   
    }
    .ul{
      padding:5px 5px 15px 20px;  
    }
  }
  .collapse-content {
    @include flex-space-between;
    padding: 20px;
    background-color:$secondary-color;
    height: 25px;
    @media screen and (max-width: 375px){
      padding:5px 5px 5px 20px;
    }
   .title {
      font-size:$font-size-base;
      font-weight: 600;
      margin: 0;
      color:$primary-color;
      @media screen and (max-width: 375px){
        font-size:$font-size-medium;
      }
    }
    .svg-inline--fa {
      // margin-left: 10px;
      cursor: pointer;
      font-size: $font-size-large;
      color:$tertiary-color;
      transition: transform 0.3s ease-in-out; // Animation fluide pour la rotation
      transform-origin: center center; // Rotation autour du centre
      @media screen and (max-width: 375px){
        font-size:$font-size-base
      }
      &.rotate {
        transform: rotate(-180deg);
      }
    }
  } 
  .description.open {
    max-height: 200px; 
    opacity: 1;
    padding:10px 5px 15px 20px;  
  }
}
