@import '../../utils/all.scss';
.header{
    @include flex-space-between;
    height: 68px;
    max-width: 95%;
    margin:30px; 
    font-family:"Montserrat";
    @media screen and (max-width: 768px){
        margin: 15px 15px 0px 15px;
    }
    img{
        height: 70%;
        
        @media screen and (max-width: 768px){
            height: 50%;
        }
    }
    .nav-button {
        @include flex-space-between;
        width:25%;
        @media screen and (max-width: 768px){
            gap: 40px;
            width: auto;
        }
        a{
            color: inherit ;
            text-decoration: none;
            font-size:$font-size-large;
            font-weight: 500;
            @media screen and (max-width: 768px){
             font-size:$font-size-secondary-base;
             text-transform: uppercase; // Texte en majuscules sur mobile
            }
        
            &:hover,
            &:focus {
              text-decoration-line: underline;
            }
        }
    }
}