@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
//   @mixin flex-center {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//   }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
   
  }

  @mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  @mixin flex-end {
    display: flex;
    align-items: center;
    justify-content: end;

  }
  