
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-secondary-medium: 13px;
$font-size-base: 18px;
$font-size-secondary-base: 16px;
$font-size-large: 24px;
$font-size-xlarge:48px;
$font-size-secondary-xlarge:36px;
$font-size-xxlarge: 96px;
$font-size-xxxlarge:288px;

$primary-color:#F6F6F6;
$tertiary-color: #ffffff;
$secondary-color:#FF6060;
$secondary-dark:#000000;
