@import '../../utils/all.scss';
.accommodation{
    @include flex-column;
 margin: 30px;
    @media screen and (max-width: 768px){
     margin: 15px;
    }
    @media screen and (max-width: 375px){
     margin: 15px;
    }
 .container{
    font-size: $font-size-large;
    margin-top: 20px;
    @include flex-space-between;
    @media screen and (max-width: 375px){
        flex-direction: column;
        align-items:normal;  
    }
    .info-container{
        @include flex-column;
        font-family:"Montserrat";
        h1{
            font-size:$font-size-secondary-xlarge;
            margin: 0px;
            color: $secondary-color;
            font-weight: 500; 
            padding-bottom: 10px;
            @media screen and (max-width: 375px){
               font-size:$font-size-base; 
               padding: 5px;
            }   
        }
        p{
            font-size:$font-size-base;
            margin: 0px;
            color:$secondary-dark;
            font-weight: 500; 
            @media screen and (max-width: 375px){
                font-size:$font-size-medium; 
            }   
        }
        .tags{
            margin-top: 10px;
            @media screen and (max-width: 375px){
                margin-top: 0px;
            }
            button{
                background-color:$secondary-color;
                color:$primary-color;
                border-radius:10px;
                border-color:transparent; 
                cursor: pointer;
                font-size:$font-size-medium;
                font-weight: 700;    
                margin:0px 20px 0px 0px;
                font-family:"Montserrat";
                padding:3px 25px 3px 25px; 
                margin-top: 10px;
             @media screen and (max-width: 375px){
                  padding: 2px;
                  margin-top: 5px;
                 margin:0px 10px 0px 0px;
                 font-size:$font-size-small;
                }
            }
        }
    }
    .host-tag{
        @include flex-column;
       @media screen and (max-width: 375px){
         flex-direction:row-reverse;
         justify-content: space-between;
         align-items: center;
         margin-top: 10px;
        }
        .host{
            @include flex-end;
           gap: 10px;
            @media screen and (max-width: 375px){
                width: 30px;
            }
          P{
             width:80px;
             font-size:$font-size-base;
             color:$secondary-color;
             text-align: end;
             font-weight: 500; 
               @media screen and (max-width: 375px){
                 font-size:$font-size-secondary-medium;
                 text-align:end;    
                }
            }
            img{
                border-radius:50%;
                width:60px;
                @media screen and (max-width: 375px){
                 width:32px;    
                }
            }
        }
        .rate{
            @include flex-space-between;
            padding: 10px 0px 0px 0px;  
            @media screen and (max-width: 375px){
               padding: 0px;    
            }
        }
    }
 }
 .collapse-container{
    display: flex;
    flex-direction: row; 
    padding: 0px ;
    gap: 40px;
        @media screen and (max-width: 768px){
            flex-direction: column;  
            align-items: center;
            gap: 5px;   
        }
        @media screen and (max-width: 375px){
            flex-direction: column;  
            gap: 0px;
        }
     ul{
         list-style-type: none;
         margin: 0; 
         padding: 0; 
        }
    }   
}