@import '../../utils/all.scss';
.error-container{
  @include flex(column, center,center);
    // display: flex;
    // flex-direction:column;
    // justify-content: center;
    // align-items: center;
    font-family:"Montserrat";
   .not-found{
    margin:5px;
    color:$secondary-color;
    font-size:$font-size-xxxlarge;
   font-weight:700;
   margin-top: 50px;
   margin-bottom: 20px;

  @media screen and (max-width: 768px){
     font-size:200px;
    }
  @media screen and (max-width: 375px){
   font-size:$font-size-xxlarge;
  }
   }
   .error-txt{
    color:$secondary-color;
    font-size:$font-size-secondary-xlarge;
    font-weight:500;
    margin-top: 20px;
   margin-bottom: 50px;
    @media screen and (max-width: 768px){
      font-size:$font-size-base;
     }
   @media screen and (max-width: 375px){
    font-size:$font-size-secondary-base;
    text-align: center;
    .break {
      // /* Force le retour à la ligne */
      display: block; 
      // /* Ajuste l'espacement des lignes */
      line-height: 1.5;
    }
   }
   }
   .redirection{
    color:$secondary-dark;
    font-size:$font-size-base;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 50px;
    
    &:hover,
    &:focus {
      text-decoration-line: underline;
    }
    @media screen and (max-width: 768px){
      font-size:$font-size-secondary-base;
     }
   @media screen and (max-width: 375px){
    font-size:$font-size-medium;
   }
   }
}